[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
whitenoise = "*"
django-heroku = "*"
python-decouple = "*"
asgiref = "*"
Django = "*"
attrs = "*"
autobahn = "*"
autopep8 = "*"
certifi = "*"
cffi = "*"
channels = "*"
charset-normalizer = "*"
constantly = "*"
cryptography = "*"
daphne = "*"
dj-database-url = "*"
django-braces = "*"
django-colorfield = "*"
django-debug-toolbar = "*"
django-model-utils = "*"
gcloud = "*"
googleapis-common-protos = "*"
httplib2 = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
jws = "*"
oauth2client = "*"
protobuf = "*"
psycopg2 = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycodestyle = "*"
pycparser = "*"
pycryptodome = "*"
pyparsing = "*"
python-jwt = "*"
pytz = "*"
requests = "*"
requests-toolbelt = "*"
rjsmin = "*"
rsa = "*"
service-identity = "*"
six = "*"
sqlparse = "*"
toml = "*"
twisted-iocpsupport = "*"
txaio = "*"
typing-extensions = "*"
tzdata = "*"
urllib3 = "*"
"zope.interface" = "*"
Automat = "*"
Pillow = "*"
pyOpenSSL = "*"
Pyrebase4 = "*"
Twisted = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
