{%extends 'base_landing.html'%} {% load static %} {% block content %}

<div class="main-container ">

    <div class="img-bsu-div">
        <img src="bsu.jpg" alt="Bulacan State University" class="img-bsu ">
    </div>

    <div class="div-gallery">

        <h1 class="h1-gallery">Gallery</h1>

    </div>

    <div class="image-container">
        <div>
            <div class="img-div"><img src="g1.jpg" alt="" class="img1"></div>
            <div class="img-div"><img src="g2.jpg" alt="" class="img1"></div>
            <div class="img-div"><img src="g3.jpg" alt="" class="img1"></div>
            <div class="img-div"><img src="g4.jpg" alt="" class="img1"></div>
        </div>
    </div>




</div>

{% endblock %}