{%extends 'cms_base/base.html'%} {% load static %} {% block styles%}{% endblock %} {% block content%}
<div class="acc-title">
    <a href="{% url 'cms:view-settings'%}" class="">Go Back</a>
    <h2>{{info.name_acronym}} Password</h2>
</div>
<div class="d-flex align-items-center justify-content-center">

    <div class="passwords-field p-3 m-4">

        {% if messages %}
        <ul class="messages w-100">
            {% for message in messages %} {{ message|safe }} {% endfor %}
        </ul> {% endif %}

        <form action="" method="POST">
            {% csrf_token %} {{form.as_p}}

            <span class=" sublabel"><ul class="info helptext">
            <li>&#9432; Your password can’t be too similar to your other personal information.</li>
            <li>&#9432; Your password must contain at least 8 characters.</li>
            <li>&#9432; Your password can’t be a commonly used password.</li>
            <li>&#9432; Your password can’t be entirely numeric.</li>
            
        </ul></span></p>

            <button class="submitbtn">Change Password</button></form>
    </div><br>


</div>
<style>
    .helptext {
        padding: 10px;
        list-style-type: none;
    }
    
    .passwords-field {
        border-radius: 15px;
        width: 90%;
        background-color: #dfbd00;
        min-width: 250px;
        box-shadow: rgb(55, 55, 55) 1px 3px 4px;
    }
    
    .acc-title {
        margin-left: 5%;
    }
    
    .acc-title h2 {
        font-family: 'Monterrat', sans-serif;
        font-size: 1.5rem;
    }
</style>
</style>
{%endblock%}