{%extends 'cms_base/base.html'%} {% load static %} {% block styles%}
<link rel="stylesheet" type="text/css" href="{% static 'css/cal/styles.css' %}">{% endblock %} {% block content%}
<div class="banner-container clearfix">
    <div class=" banner-img ">
        <div class="trapezoid"></div>
    </div>
    <div class="title">
        <h1>CALENDAR</h1>
    </div>
</div>
<div class="clearfix">{% include 'cms_ev/event-sidemenu.html'%}
    <div class="biggerhalf clearfix">
        <div class="spacearound10 clearfix">
            <a class=" blbtncal buttonlinks left previousbutton" href="{% url 'cms:view-calendar' %}?{{ prev_month }}">
                <p class="arrowkeys">&#8592;</p> Previous Month </a>
            <a class=" blbtncal buttonlinks right nextbutton" href="{% url 'cms:view-calendar' %}?{{ next_month }}">  Next Month <p class="arrowkeys">&#8594;</p> </a>
        </div>
        <div class="clearfix">

            {{ calendar }}
        </div>
    </div>
</div>

{% endblock %}