{%extends 'base_organization.html'%} {% load static %}{% block content %}
<div class="center">

    <div class="passwords-field p-3 m-4">


        {% if messages %}
        <ul class="messages w-100">
            {% for message in messages %} {{ message|safe }} {% endfor %}
        </ul> {% endif %}

        <form action="" method="POST">
            {% csrf_token %} {{form.as_p}}
            <button class="submitbtn">Change Password</button>
        </form><br>
        <span class=" sublabel"><ul class="info helptext">
            <li>&#9432; Your password can’t be too similar to your other personal information.</li>
            <li>&#9432; Your password must contain at least 8 characters.</li>
            <li>&#9432; Your password can’t be a commonly used password.</li>
            <li>&#9432; Your password can’t be entirely numeric.</li>
        </ul></span></p>
    </div><br>

</div>
<style>
    .helptext {
        padding: 10px;
        list-style-type: none;
    }
    
    .passwords-field {
        border-radius: 15px;
        width: 90%;
        background-color: #dfbd00;
        min-width: 250px;
        box-shadow: rgb(55, 55, 55) 1px 3px 4px;
    }
</style>
{% endblock%}