 {%extends 'about/base_about.html'%} {% load static %} {% block content %}

<div class="about-bulsuan-kawing typewriter">
    <h1>About BulSUan Kawing.</h1>
</div>

<div class="developers-description ">
    <div>
        <p class="about-description">The BulSUan Kawing provides information like registries, inquires, events, and communication which is managed by the office of the student organization. BulSUan Kawing was developed for the students of Bulacan State University which they will
            be able to browse through different organizations that are registered. The BulSUan kawing's goal is to assist organizations in also facilitating their workspace and engaging in OSO requirements.</p>
        <h4>THE DEVELOPERS</h4>
        <p>The BulSUan Kawing was developed by 4th year students from College of Information and Communications Technology. The developers aim to help the office of the student organization in managing the student organizations transactions and events.</p>
        <ul>
            <li>Salamat, Reynaldo Jr. A</li>
            <dl>Team Leader, Developer</dl>
            <li>Albuera, Jigen C.</li>
            <dl>Data Analytics</dl>
            <li>Bautista, Reagan J.</li>
            <dl>System Development</dl>
            <li>Escamillan, Nicole Ashley M.</li>
            <dl>Documentation</dl>
            <li>Payuan, Ithamar Jhudiel M.</li>
            <dl>Front-End Development</dl>

        </ul>

    </div>
</div>
{% endblock %}