{%extends 'base_organization.html'%} {% load static %}{% block content %}

<div class="banner-container clearfix">
    <div class=" banner-img ">
        <div class="trapezoid"></div>
    </div>
    <div class="title">
        <h1>DOCUMENTS</h1>
    </div>
</div>

<div class="container">
    <div class="search">

        <form class="form-contain">

            <input value="{%if searched%}{{searched}}{% endif %}" placeholder="Search" required="" oninvalid="this.setCustomValidity('')" oninput="this.setCustomValidity('')" type="text" name="searched" id="search-input">
            <input type="submit" value="Search" id="search-button">
        </form>

    </div>
    <br>
    <div class="d-flex " id="buttons-area">
        <button class="bluebutton w-25 align-self-start submitdoc" onclick="event.preventDefault(); open_submit()">Submit Documents</button>

        <div class="dropdown">

            <form>

                <select id="dropdown" name="filter">
                <option value="None"></option>
                {% for category in categories %}
                {% if filter == category.id %} 
                    <option value="{{category.id}}" selected >{{category.name}}</option>
                {%else%}
                    <option value="{{category.id}}" >{{category.name}}</option>
                {%endif%}
                {% endfor %}
                </select>
                <button class="btn-filter">Filter</button>
            </form>
        </div>

    </div>

    <br>
    <p class="notes">&#8505; <strong>Approved</strong> documents are <em>not deletable</em> </p> <br>

</div>
<div class="documentslist">

    {% for document in documents%}
    <div class="document">
        <div class="document-div">
            <div class="d-flex align-content-center document-name">
                <p>{{document.name}}</p>

            </div>
            <div class="document-buttons">
                <a href="{%url 'org:view-document' document.id%}" class="buttonlinks yellowbutton">Open</a> {% if not document.state == approved %}
                <input type="image" class="small-img-button shadowed-png-hover" src="{% static '/images/del_48px.png'%}" onclick="event.preventDefault(); open_delete('{{document.id}}')"> {% endif %}
            </div>

        </div>
    </div>
    {%endfor%}
</div>

<br> {% if documents.has_other_pages %}
<div class="centercomponents max-width clearfix">
    <ul class="pagination">
        {% if documents.has_previous %}
        <li>
            <a href="?page={{ documents.previous_page_number }}">
                <div class="pagedesigns">&laquo;</div>
            </a>
        </li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %} {% for i in documents.paginator.page_range %} {% if documents.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only"></span></span>
        </li>
        {% else %}
        <li>
            <a href="?page={{ i }}">
                <div class="pagedesigns"> {{ i }} </div>
            </a>
        </li>
        {% endif %} {% endfor %} {% if documents.has_next %}
        <li>
            <a href="?page={{ documents.next_page_number }}">
                <div class="pagedesigns">&raquo;</div>
            </a>
        </li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</div>
{% endif %}


</div>



{% include 'org_documents/documentsmodals.html'%} {% endblock %}