{% load static %}


<footer>
    <div class="footer-div ">

        <div class="icon-div">
            <div>
                <img src="{% static 'images/facebook.png'%}" alt="Facebook" class="img-facebook">
            </div>
            <div>
                <img src="{% static 'images/gmail.png'%}" alt="Gmail" class="img-gmail">
            </div>
        </div>
        <p class="footer-text">
            BulSUan Kawing: Office of the Student Organization and Activities © 2021 | ALL RIGHTS RESERVED
        </p>
    </div>
</footer>