{% extends 'base_organization.html' %} {% load static %}{% block content %}
<div class="clearfix">
    <div class="space-around">
        <h2 id="doctitle" class="document-title ">Add Event</h2>
    </div>
    <hr>
    <div class="p-3 w-100 d-flex align-content-lg-stretch justify-content-center w-100 ">
        <div class="container">
            <form method="POST" action="{% url 'org:view-add-event'%}" enctype="multipart/form-data">
                {% csrf_token %} {% if invalid%} {{errors|safe }}{% endif%}
                <p>Title of Event:*</p>
                <p>{{eventform.title}}</p>
                <div class="img-container">
                    <p class="">Event Photo *</p>
                    {{addimg.img_src}}

                    <div class=" selected-image">

                        <img src="" class="upload-image "></div>
                </div><br>

                <div class="">
                    <p>Event Start: *<br> {{eventform.time_begin}}
                        <br><br> Event End: *<br>{{eventform.time_end}}
                    </p><br>
                    <p>Event Description:</p>
                    <p>{{eventform.description}}</p>
                </div>

                <button class="bluebutton" type="submit"> Proceed </button>
                <a href="{% url 'org:view-events'%}" class="redbutton buttonlinks">Cancel</a>
                <p class="sublabel">* You will proceed to document submission</p>
                <br>
            </form>
        </div>

    </div>
</div>
<script>
    function changeImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                $(".upload-image").attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endblock %}