<script>
    $(document).on("click", "#close", function(e) {
        e.preventDefault();
        var $popup = $("#popup");
        $popup.modal("hide");
        $(".modal-content").html("Loading...");

    });


    function open_delete(id) {
        $.get('/user/events/').then(function(html) {
            // Success response
            mainbar = $(html).find('#deleteeventform');
            $(".modal-content").html(mainbar);
            $("#event_id_delete").val(id)
        }, function() {
            // Error response
            document.write('Access denied');
        });
        var $popup = $("#popup");
        $popup.modal("show");

    }

    $(document).on("submit", "#formdeleteevent", function(e) {
        e.preventDefault();

        $("#submitbtn").attr('disabled', true);
        event_id = $("#event_id_delete").val()

        $.ajax({
            type: "POST",
            url: "/user/events/delete",
            data: {
                id: event_id,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
            },
            success: function(d) {

                $.get('/user/events/').then(function(html) {
                    // Success response
                    mainbar = $(html).find('.events-container');
                    $(".events-container").html(mainbar.html());

                    var $popup = $("#popup");
                    $popup.modal("hide");
                    $(".modal-content").html("Loading...");

                    $("#submitbtn").removeAttr('disabled');

                }, function() {
                    // Error response
                    document.write('Access denied');
                }, 1000);


            }
        });


    });
</script>
<div id="popup" class="modal " role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            Loading...
        </div>
    </div>
</div>
<div class="hidden">

    <!--delete event-->
    <div id="deleteeventform" class="modal-content">

        <div class="modal-body">
            <form action="" id="formdeleteevent">
                {% csrf_token %}
                <input type="hidden" id="event_id_delete">
            </form>
            <div>
                Are you sure you want to delete this event?
            </div>
        </div>
        <div class="modal-footer">
            <input id="submitbtn" class="submitbtn" type="submit" value="Yes" form="formdeleteevent" />

            <button type="button" id="close" class="cancelbtn" data-dismiss="modal">Cancel
        </button>
        </div>

    </div>
</div>